body {
   background-image: url("http://1.bp.blogspot.com/-D5Zxr-dmwaM/T5ZyX4BaOfI/AAAAAAAAMHs/3w5cG79JjuA/s1600/atqabeauty.com_background_03-sample.png.jpg");
	width: 400px;
    height: 400px;
    background-repeat: repeat;
	left: 0px;
	top: 0px;
	
	
}

.wrapper
{
	background-color: #FFFFFF;
	width:1032px;
	height:586px;
	position:absolute; left:444px; top:167px;
	border-radius:25px;
	box-shadow: 0px 15px 25px
	rgba(0, 0, 0, 0.1);
}

.nag
{
	background-color: #E04B54;
	position:absolute; left:444px; top:167px;
	height:305px;
	width:1032px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.photo
{
	position:absolute; left:492px; top:215px;
	border: 4px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 3px 8px
	rgba(0, 0, 0, 0.1);
	width:280;
	height:280;
}

.name
{
	width: 264px;
	height: 66px;
	color:#FFFFFF;
	position: absolute; left: 992px; top: 258px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: Bold;
	line-height: 66px;
	font-size: 54px;
	
}

.frontend
{
	position: absolute;
	width: 227px;
	height: 29px;
	left: 1011px;
	top: 326px;

	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 24px;

	color: #FFFFFF;
}

.longinfo
{
	
	position: absolute;
	width: 630px;
	height: 91px;
	left: 492px;
	top: 558px;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	font-size: 16px;

	color: #666666;
}




.about
{
	position: absolute;
	width: 278.92px;
	height: 30px;
	left: 492px;
	top: 519px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 24px;

	color: #000000;
	margin-top:10px;
}

.Me
{
	color: #E04B54;
	position: absolute;
	width: 278.92px;
	height: 30px;
	left: 575px;
	top: 519px;
	margin-top:10px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
}

.download
{
	position: absolute;
	width: 176px;
	height: 40px;
	left: 492px;
	top: 677px;
		box-sizing: border-box;
	border-radius: 4px;
margin-top:10px;

} 
.button{
text-align:center;
  padding:5px;
  border:2px solid red;
  border-radius:5px;
}


.nav {
  display: flex; 
  justify-content: center;
  color:white;
}

.nav-item {
	position: absolute; left: 992px; top: 375px;
border-radius: 100%; 
  border: solid 1px #fff; 
  width: 40px; 
  height: 40px; 
  margin: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color:white;
}

.nav-item2 {
	position: absolute; left: 1052px; top: 375px;
border-radius: 100%; 
  border: solid 1px #fff; 
  width: 40px; 
  height: 40px; 
  margin: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color:white;
}

.nav-item3 {
	position: absolute; left: 1112px; top: 375px;
  border-radius: 100%; 
  border: solid 1px #fff; 
  width: 40px; 
  height: 40px; 
  margin: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color:white;
}

.nav-item4 {
	position: absolute; left: 1172px; top: 375px;
  border-radius: 100%; 
  border: solid 1px #fff; 
  width: 40px; 
  height: 40px; 
  margin: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color:white;
}
.nav-item:hover {
  cursor: pointer; 
  background-color: white;
  text-decoration: underline;
}

.nav-item a {
  font-size: 20px; 
  
}

a:visited { 
	color: white; 
}

.button{
	font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: 21px;
font-size: 14px;
text-align:center;
  padding:5px;
  border:2px solid red;
  border-radius:5px;
}
.button a{
  text-decoration:none;
}
.button a:visited,a:link{
  color:white;
}


.one
{

position: absolute;
width: 31px;
height: 25px;
left: 1170px;
top: 558px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: 24px;
font-size: 16px;

color: #292929;
}

.two
{
   position: absolute;
width: 18px;
height: 25px;
left: 1249px;
top: 558px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;

color: #666666;

}

.oneb
{
	position: absolute;
width: 50px;
height: 25px;
left: 1170px;
top: 591px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: 24px;
font-size: 16px;

color: #292929;
}

.onec
{
	position: absolute;
width: 49px;
height: 25px;
left: 1170px;
top: 624px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: 24px;
font-size: 16px;

color: #292929;
}

.oned
{
	position: absolute;
width: 61px;
height: 25px;
left: 1170px;
top: 657px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
line-height: 24px;
font-size: 16px;

color: #292929;
}
.twob
{
	position: absolute;
width: 200px;
height: 25px;
left: 1249px;
top: 591px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;

color: #666666;

}

.twoc
{
position: absolute;
width: 117px;
height: 25px;
left: 1249px;
top: 624px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;

color: #666666;	
}

.twod
{
	position: absolute;
width: 52px;
height: 25px;
left: 1249px;
top: 657px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;

color: #666666;
}
